<launch>
    <include file="$(find astra_launch)/astra.launch" />
    <node name="openpose" pkg="openpose_ros" type="openpose_ros_node" />
    <node name="openpose_adaptor" pkg="hcr_walker" type="hcr_openpose_adaptor.py" />
    <node name="gait_detection" pkg="hcr_walker" type="hcr_gait" />
    <node name="hcr_imu" pkg="hcr_walker" type="hcr_imu.py" />
    <node name="fall_detector" pkg="hcr_walker" type="hcr_fall_detector.py" />
    <node name="usb_node" pkg="hcr_walker" type="arduino_send_node.py">
</launch>